fastapi
fakeredis
langchain
langchain-anthropic
langchain-community
langchain-google-vertexai
langchain-openai
loguru
pydantic-settings
pyngrok
pytest
pytest-asyncio
python-dotenv
redis
twilio
uvicorn
vocode==0.1.113
